<h1>
  ようこそ<span class="bookers">Bookers</span>へ！
</h1>

<div class="top-text">
  <p>
    <span class="bookers">Bookers</span>では、さまざまな書籍に関するあなたの意見や</br>
    印象を共有し交換することができます
  </p>
</div>

<%= link_to "start", "/books" %>